* {
  margin: 0;
  padding: 0;
}

header {
  margin: 0 auto;
  width: 1106px;
  height: 100px;
  background: #2b3132;
}

header h1 {
  background: lightcoral;
  float: left;
}

header ul {
  margin-right: ;
}

header ul li {
  background: lightgreen;
  float: right;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block;
}
